{
	"blsAPIkey": "",
	"bodAPIkey": "",
	"ctxAPIkey": "",
	"dblAPIkey": "",
	"dbl2APIkey": "",
	"dcbAPIkey": "",
	"geniusAPIkey": "",
	"giphyAPIkey": "",
	"googleAPIkey": "",
	"osuAPIkey": "",
	"steamAPIkey": "",
	"tmdbAPIkey": "",
	"twitchAPIkey": ""
}