{
	"blsAPIkey": "",
	"bodAPIkey": "",
	"ctxAPIkey": "",
	"dblAPIkey": "",
	"dcbAPIkey": "",
	"giphyAPIkey": "",
	"googleAPIkey": "",
	"idioticAPIkey": "",
	"ksoftAPIkey": "",
	"osuAPIkey": "",
	"steamAPIkey": "",
	"tmdbAPIkey": "",
	"twitchAPIkey": ""
}